<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal</key>
	<dict>
		<key>size</key>
		<integer>17</integer>
		<key>lineSpacing</key>
		<integer>3</integer>
		<key>shouldScale</key>
		<true/>
		<key>weight</key>
		<integer>0</integer>
	</dict>
	<key>heading</key>
	<dict>
		<key>family</key>
		<string>Times New Roman</string>
		<key>weight</key>
		<integer>1</integer>
		<key>size</key>
		<integer>48</integer>
		<key>shouldScale</key>
		<true/>
		<key>alignment</key>
		<string>center</string>
	</dict>
	<key>heading 2</key>
	<dict>
		<key>parent</key>
		<string>heading</string>
		<key>size</key>
		<integer>24</integer>
		<key>weight</key>
		<real>0.5</real>
	</dict>
	<key>heading 3</key>
	<dict>
		<key>parent</key>
		<string>heading 2</string>
		<key>weight</key>
		<real>-0.5</real>
	</dict>
	<key>caption</key>
	<dict>
		<key>parent</key>
		<string>normal</string>
		<key>size</key>
		<integer>10</integer>
		<key>face</key>
		<string>Italic</string>
		<key>lineSpacing</key>
		<integer>3</integer>
		<key>paragraphSpacing</key>
		<integer>5</integer>
	</dict>
	<key>typewriter</key>
	<dict>
		<key>family</key>
		<string>American Typewriter</string>
		<key>shouldScale</key>
		<false/>
		<key>paragraphSpacing</key>
		<integer>20</integer>
	</dict>
	<key>typewriter-light</key>
	<dict>
		<key>parent</key>
		<string>typewriter</string>
		<key>weight</key>
		<integer>-1</integer>
	</dict>
	<key>typewriter-bold</key>
	<dict>
		<key>parent</key>
		<string>typewriter</string>
		<key>weight</key>
		<integer>1</integer>
		<key>lineSpacing</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
